.slideMenuItem {
  display: inline;
  float: left;
  padding: 0 10px;
}

.slideMenuItem i {
  padding: 0 5px;
}

.slideMenuItem a {
  text-decoration: none;
  color: black;
  float: left;
  font-size: 14px;
}

.slideMenuItem a:hover {
  text-decoration: underline;
}
