.header {
  width: 100%;
  height: 50px;
  background-color: black;
}

.header > h2 {
  display: inline-block;
  color: white;
  font-weight: 300;
  padding: 0 8% 0 8%;
  cursor: pointer;
  line-height: 100%;
  vertical-align: middle;
  transition-property: transform;
  transition-duration: 2s;
}

.header > h2:hover {
  transform: rotateY(360deg);
}

input .headerInput {
  vertical-align: middle;
}

.header input {
  width: 30%;
  padding: 5px;
  border: black;
  margin-top: 7px;
}

.header button {
  padding: 5px;
  color: white;
  background-color: #ffcb05;
  border: black;
  width: 40px;
}

.header div {
  display: inline;
  color: white;
}

.header div > div > div {
  cursor: pointer;
  margin: 3%;
}

div > i {
  padding: 5px;
}

@media screen and (max-width: 1350px) {
  .header > h2 {
    padding: 0 4%;
  }

  .header input {
    width: 20%;
  }

  .header button {
    width: 30px;
  }
}
