.doubleGrid {
  margin-top: 50px !important;
}

.doubleGrid img:nth-child(1) {
  margin-right: 30px !important;
}
.doubleGrid img:nth-child(2) {
  padding-left: 30px !important;
}

.doubleGrid img {
  cursor: pointer;
  padding: 0;
}
